body {
  font-family: 'Mona Sans', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  padding: 20px 20px;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: #ea4c89;
  text-decoration: none;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 50%;
  background: #f3f3f6;
  border-radius: 30px;
  border: 3px solid #cccccc00;
}

.search-bar:hover {
  border: 3px solid #ea4c898a;
}

.search-bar input {
  width: 90%;
  padding: 10px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  background: #cccccc00;
  margin-left: 10px;
  color: #000;
}

.search-bar input:focus {
  border: none;
  outline: none;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.post-list article:hover {
  transform: translateY(-5px);
}

.post-list h2 {
  font-size: 18px;
  color: #ea4c89;
  margin: 15px 0 10px;
}

.post-list h2 a {
  color: #ea4c89;
  text-decoration: none;
}

.post-list h2 a:hover {
  text-decoration: underline;
}

.post-list img {
  width: 100%;
  height: auto;
  display: block;
}

/* Search icon */
.feather.feather-search {
  background: #ea4c89;
  padding: 0.425rem;
  margin: 5px auto;
  border-radius: 50%;
  color: #fff;
  margin-right: 5px;
}

/* Path: category hover */
a {
  text-decoration: none;
  color: #000;
}
.category-item:hover {
  background: #f3f3f6;
  border-radius: 30px;
}
.category-item a:hover {
  text-decoration: none;
}